<!--Experiencias Laborales -->
<section id="experiencias">
    <div>
      <h2>experiencias</h2>
    </div>
    <div id="espacioExp">
      <div id="fotoExp">
        <img src="" alt="FOTO 1">
      </div>
      <div id="detallesExp">
        <div id="tituloExp">
          <h3>Experiencia Laboral 1</h3>
        </div>
        <div id="espacioResumenExp">
          <p>detalles</p>
        </div>
      </div>
    </div>
    <div class="controlEdit">
      <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
      <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
    </div>
    <div id="espacioExp">
      <div id="fotoExp">
        <img src="" alt="FOTO 2">
      </div>
      <div id="detallesExp">
        <div id="tituloExp">
          <h3>Experiencia Laboral 2</h3>
        </div>
        <div id="espacioResumenExp">
          <p>detalles</p>
        </div>
      </div>
    </div>
    <div class="controlEdit">
      <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
      <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
    </div>
    <div id="espacioExp">
      <div id="fotoExp">
        <img src="" alt="FOTO 3">
      </div>
      <div id="detallesExp">
        <div id="tituloExp">
          <h3>Experiencia Laboral 3</h3>
        </div>
        <div id="espacioResumenExp">
          <p>detalles</p>
        </div>
      </div>
    </div>
    <div class="controlEdit">
      <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil h-10"></i></button>
      <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
    </div>
    <div class="controlEdit">
      <button style="background-color: aliceblue;"><i class="fa-solid fa-plus"></i></button>
    </div>
  </section>