<!--habilidades-->
<section id="habilidades">
    <div>
        <h2>seccion de aptitudes y habilidades</h2>
    </div>
    <div class="container contenedor-habilidades ">
        <div class="row justify-content-around w-100 h-25">
            <div class="col-sm-3 bg-success">
                <p></p>
                <div class="controlEdit2">
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
            <div class="col-sm-3 bg-info">
                <p></p>
                <div class="controlEdit2">
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
            <div class="col-sm-3 bg-warning">
                <p></p>
                <div class="controlEdit2">
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
        </div>
        <div class="row justify-content-around w-100 h-25">
            <div class="col-sm-3 bg-success">
                <p></p>
                <div class="controlEdit2">
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
            <div class="col-sm-3 bg-info">
                <p></p>
                <div class="controlEdit2">
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                    <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
        </div>
        <div class="controlEdit">
            <button style="background-color: aliceblue;"><i class="fa-solid fa-plus"></i></button>
        </div>
    </div>
</section>